<div class='box'>
  <h1 class='title is-4'>Edit game</h1>
  <%= form_with model: @game do |form| %>
    <div class="field">
      <label class="label">Title</label>
      <div class='control'>
        <%= form.text_field :title, class: "input"  %>
      </div>
    </div>
    <div class="field">
      <label class="label">Description</label>
      <div class='control'>
        <%= form.text_area :description, class: "textarea" %>
      </div>
    </div>
    <div class="field">
      <div class='control'>
        <%= form.submit 'Update', class: "button is-link" %>
      </div>
    </div>
  <% end %>
</div>
